@tailwind utilities;
@tailwind components;
@tailwind base;

.home-bg {
  background-color: #E2FDD2;
  min-height: 100vh;
}

.about-bg {
  background-color: #E7D2FD;
  min-height: 100vh;
}


.contact-bg {
  background-color: #FDD2E6;
  min-height: 100vh;
}