@tailwind utilities;
@tailwind components;
@tailwind base;

.home-bg {
  background-color: #212121;
  min-height: 100vh;
  border: 2px solid red;
}

.about-bg {
  background-color: #E7D2FD;
  min-height: 100vh;
}

.contact-bg {
  background-color: #EBC5A4;
  min-height: 100vh;
}

.half {
  width: 50%; /* Each half takes 50% of the width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-half {
  background-color: #ffcccb; /* Light red */
}

.right-half {
  background-color: #add8e6; /* Light blue */
}

.card-container {
  display: flex;
  width: 95%; /* Take 95% of the page width */
  height: 90vh; /* Take 95% of the page height */
  justify-content: center; /* Center the card horizontally */
  padding: 20px; /* Space inside the container */
  box-sizing: border-box; /* Include padding in the total width and height */
  margin: 0 auto; /* Center the container */
  border-width: 3px;
  border-color: #E7D2FD;
}

.card {
  background-color: #4B4B4B; /* Dark gray card background */
  border-bottom: 1px solid #555; /* Bottom border */
  border-radius: 8px; /* Rounded corners */
  border-color: rgb(128, 128, 128);
  padding: 20px; /* Padding inside the card */
  width: 100%; /* Full width of its container */
  height: 100%; /* Full height of its container */
  max-width: 1400px; /* Max width */
  /*color: #E0E0E0;  Light text color for readability */
}

.card:hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset, -1px -1px 1px rgba(68, 68, 68, 0.1) inset; /* Adjusted box shadow */
}

.card-title {
  font-size: 1.5em; /* Larger font size for the title */
  margin-bottom: 10px; /* Space below the title */
  color: #f1f1f1; /* Darker text color */
  align-self: flex-start; /* Align the title to the start (left) */
  font-weight: bold;
}

.card-content {
  font-size: 3em; /* Normal font size for content */
  color: #e2e2e2; /* Gray text color */
  margin-bottom: 20px; /* Space below the content */
  text-align: center; /* Center the content text */
}

.card-link {
  display: inline-block; /* Make the link behave like a button */
  padding: 10px 15px; /* Padding inside the link */
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  text-decoration: none; /* Remove underline */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition */
  width: 100%; /* Full width */
  text-align: center; /* Center the link text */
}

.card-link:hover {
  background-color: #0056b3; /* Darker blue on hover */
  border-width: 2px;
  border-color: #E7D2FD;
}

@media (max-width: 600px) {
  .card {
    padding: 10px; /* Less padding on smaller screens */
    margin: 10px; /* Less margin on smaller screens */
  }
}
